In [1]:
import numpy as np
import pandas as pd

In [2]:
df_LondonCrime = pd.read_excel('london_crime_by_lsoa.xlsx')

df_LondonCrime.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

In [3]:
## Missing Values

df_LondonCrime.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of          lsoa_code  borough  major_category  minor_category  value   year  \
0            False    False           False           False  False  False
1            False    False           False           False  False  False
2            False    False           False           False  False  False
3            False    False           False           False  False  False
4            False    False           False           False  False  False
...            ...      ...             ...             ...    ...    ...
1048570      False    False           False           False  False  False
1048571      False    False           False           False  False  False
1048572      False    False           False           False  False  False
1048573      False    False           False           False  False  False
1048574      False    False           False           False  False  False

         month
0        False
1        False
2        False
3        False
4        False
...        ...
1048570  False
1048571  False
1048572  False
1048573  False
1048574  False

[1048575 rows x 7 columns]>

In [4]:
df_LondonCrime.isnull().values.any()

False

In [5]:
df_LondonCrime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   lsoa_code       1048575 non-null  object
 1   borough         1048575 non-null  object
 2   major_category  1048575 non-null  object
 3   minor_category  1048575 non-null  object
 4   value           1048575 non-null  int64
 5   year            1048575 non-null  int64
 6   month           1048575 non-null  int64
dtypes: int64(3), object(4)
memory usage: 56.0+ MB

In [6]:
df_crime = df_LondonCrime.set_index(['year','month'])
df_crime

            lsoa_code               borough               major_category  \
year month
2016 11     E01001116               Croydon                     Burglary
     11     E01001646             Greenwich  Violence Against the Person
2015 5      E01000677               Bromley  Violence Against the Person
2016 3      E01003774             Redbridge                     Burglary
2008 6      E01004563            Wandsworth                      Robbery
...               ...                   ...                          ...
2010 11     E01001649             Greenwich           Theft and Handling
2012 3      E01000464                Bexley              Criminal Damage
2010 2      E01000064  Barking and Dagenham                        Drugs
2016 7      E01004615            Wandsworth              Criminal Damage
2008 12     E01001752               Hackney    Other Notifiable Offences

                         minor_category  value
year month
2016 11     Burglary in Other Buildings      0
     11                  Other violence      0
2015 5                   Other violence      0
2016 3      Burglary in Other Buildings      0
2008 6                Personal Property      0
...                                 ...    ...
2010 11                     Other Theft      3
2012 3      Criminal Damage To Dwelling      0
2010 2              Possession Of Drugs      1
2016 7            Other Criminal Damage      1
2008 12                Other Notifiable      0

[1048575 rows x 5 columns]

In [7]:
df_crime.describe()

              value
count  1.048575e+06
mean   4.753327e-01
std    1.678109e+00
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    1.000000e+00
max    2.410000e+02

### Dataset Contains :
lsoa_code: code for Lower Super Output Area in Greater London.\
borough: Common name for London borough.\
major_category: High level categorization of crime\
minor_category: Low level categorization of crime within major category.\
value: monthly reported count of categorical crime in given borough\
year: Year of reported counts, 2008-2016\
month: Month of reported counts, 1-12

In [8]:
df_crime.count()

lsoa_code         1048575
borough           1048575
major_category    1048575
minor_category    1048575
value             1048575
dtype: int64

In [9]:
df_LondonCrime['major_category'].unique()

array(['Burglary', 'Violence Against the Person', 'Robbery',
       'Theft and Handling', 'Criminal Damage', 'Drugs',
       'Fraud or Forgery', 'Other Notifiable Offences', 'Sexual Offences'],
      dtype=object)

In [10]:
df_LondonCrime['minor_category'].unique()

array(['Burglary in Other Buildings', 'Other violence',
       'Personal Property', 'Other Theft', 'Offensive Weapon',
       'Criminal Damage To Other Building', 'Theft/Taking of Pedal Cycle',
       'Motor Vehicle Interference & Tampering',
       'Theft/Taking Of Motor Vehicle', 'Wounding/GBH',
       'Other Theft Person', 'Common Assault', 'Theft From Shops',
       'Possession Of Drugs', 'Harassment', 'Handling Stolen Goods',
       'Criminal Damage To Dwelling', 'Burglary in a Dwelling',
       'Criminal Damage To Motor Vehicle', 'Other Criminal Damage',
       'Counted per Victim', 'Going Equipped', 'Other Fraud & Forgery',
       'Assault with Injury', 'Drug Trafficking', 'Other Drugs',
       'Business Property', 'Other Notifiable', 'Other Sexual',
       'Theft From Motor Vehicle', 'Rape', 'Murder'], dtype=object)

In [11]:
lebih_dari_nol = df_LondonCrime[df_LondonCrime['value'] > 0]
lebih_dari_nol

,lsoa_code,borough,major_category,minor_category,value,year,month
9,E01004177,Sutton,Theft and Handling,Theft/Taking of Pedal Cycle,1,2016,8
16,E01000086,Barking and Dagenham,Theft and Handling,Other Theft Person,1,2009,5
24,E01001301,Ealing,Theft and Handling,Other Theft Person,2,2012,1
25,E01001794,Hackney,Violence Against the Person,Harassment,1,2013,2
32,E01000733,Bromley,Criminal Damage,Criminal Damage To Motor Vehicle,1,2016,4
...,...,...,...,...,...,...,...
1048566,E01000501,Brent,Theft and Handling,Other Theft,1,2014,5
1048569,E01000425,Bexley,Drugs,Possession Of Drugs,2,2011,8
1048570,E01001649,Greenwich,Theft and Handling,Other Theft,3,2010,11
1048572,E01000064,Barking and Dagenham,Drugs,Possession Of Drugs,1,2010,2
1048573,E01004615,Wandsworth,Criminal Damage,Other Criminal Damage,1,2016,7

In [12]:
df = lebih_dari_nol.groupby(['major_category']).size()
df

major_category
Burglary                       34401
Criminal Damage                35740
Drugs                          18002
Fraud or Forgery                 209
Other Notifiable Offences       6316
Robbery                        12971
Sexual Offences                   80
Theft and Handling             88412
Violence Against the Person    69825
dtype: int64